[submodule "gcc-Toolchain-2019.12"]
	path = gcc-Toolchain-2019.12
	url = https://github.com/wago/gcc-toolchain-2019.12-precompiled.git
[submodule "ptxdist"]
	path = ptxdist
	url = https://github.com/wago/ptxdist.git